* {
	box-sizing: border-box;
}


.body {
	background-color: #8aa495;
}

body {
	max-width: 1200px;

	margin: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 0;	

	font-family: 'Roboto', sans-serif;
	font-weight: 	700;
	color: white;


	-webkit-box-shadow: -1px 1px 9px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 9px 0px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 9px 0px rgba(0,0,0,0.75);
}

a {
	text-decoration: none;
}

/* Header */

.background {
	min-height: 881px;
	background-image: url("img/back1.png");
	background-position: top center;
	background-repeat: no-repeat;
}
/*Header-left */
.header {
	display: flex;
	justify-content: space-between;
}

.navigation {
	flex-basis: 587px;
	max-height: 68px;

	padding-top: 10px;
}

.navigation-list {
	list-style: none;

	margin: 0;
	padding: 0;

	display: flex;
	justify-content: space-around;
	align-items: center;
}

.navigation-list a {
	font-size: 16px;
	line-height: 18px;

	color: white;

	border-bottom: 1px solid #9eb2a7;
}

.navigation-list .logo {
	border-bottom: none;
}

/* header-right */
.header-buttons {
	width: 294px;

	padding-right: 27px;
}

.header-buttons p {
	margin: 0;

	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;	
}

.header-buttons p {
	font-size: 14px;
	line-height: 16px;

	margin-top: 19px;
}

.header-buttons p:last-child {
	font-size: 22px;
	line-height: 24px;

	margin-top: 9px;
}

.header-buttons-list {
	list-style: none;

	margin: 0;
	padding: 0;

	display: flex;
	justify-content: flex-end;
}

.header-buttons-list li {
	margin-right: 10px;
}

.header-buttons-list li:last-child {
	margin-right: 0;
}

/*Крем брюле и пломбир */

.h1 {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	
	min-height: 407px;

}

.h1 h1 {
	font-size: 60px;
	line-height: 60.35px;

	margin: 0;
}

/*Давайте оба и кнопки */
.round-buttons {
	min-height: 132px;
	max-width: 742px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.round-buttons div {
	padding-left: 27px;
}

.round-buttons button {
	width: 282px;
	height: 64px;

	font-size: 32px;
	line-height: 44px;
	font-family: inherit;
	font-weight: 700;
	color: white;


	border: 0;
	background-color: #ee5e3f;
	border-radius: 50px;
  	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);

  -moz-transform: matrix( 1.04013375779322,0,0,1.04013375779322,0,0);
  -webkit-transform: matrix( 1.04013375779322,0,0,1.04013375779322,0,0);
  -ms-transform: matrix( 1.04013375779322,0,0,1.04013375779322,0,0);
}

/*Малинка даром!, Шоколадки */

.actions {
	min-height: 237px;

	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	padding-right: 27px;
	padding-left: 27px;
}

.actions div {
	min-height: 230px;

	flex-basis: 560px;

	border-radius: 30px;

	padding-right: 27px;
	padding-left: 20px;
	padding-top: 23px;

	display: flex;
	flex-direction: column;
}

.malina {
	background-image: url("img/malina.jpg");
	background-repeat: no-repeat;

}

.actions div:last-child {
	background-image: url("img/shokolad.jpg");
	background-repeat: no-repeat;
}

.actions h2 {
	margin: 0;
	font-size: 35px;
	line-height: 41px;

	margin-bottom: 10px;
}

.actions p {
	margin: 0;
	font-size: 18px;
	line-height: 22px;
}

.actions button {
	height: 47px;
	width: 160px;

	font-size: 18px;
	line-height: 24px;
	font-family: inherit;
	font-weight: 700;
	color: white;

	align-self: flex-end;


	border: 0;
	background-color: #ee5e3f;
	border-radius: 50px;
  	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);

  	margin-top: 45px;

}

.actions .actions-button2 {
	width: 190px;
}

/* Мороженки */

.ice-creams {
	padding-right: 27px;
	padding-left: 27px;

	display: flex;
	justify-content: space-between;

	padding-top: 30px;
}

.ice-cream-text {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;

	display: flex;
	justify-content: space-between;
	text-align: center;

	padding-right: 27px;
	padding-left: 27px;
}

.ice-cream-text p {
	width: 267px;
	text-decoration: underline;
	text-decoration-color: #9eb2a7;
}

/* Вафелька */
.aboutGllacy {
	padding-right: 60px;
	padding-left: 47px;
	padding-top: 25px;

	background-image: url("img/vaflya.png");
	background-repeat: no-repeat;
	background-position: center;

	min-height: 307px;

	display: flex;
	flex-wrap: wrap;

}

.aboutGllacy h2 {
	color: black;

	margin: 0;

	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
}

.aboutGllacy p {
	color: black;

	font-weight: 400;
	font-family: 16px;
	line-height: 22px;

	margin: 0;
}

.aboutGllacy div {
	max-width: 535px;

	display: flex;
	align-items: center;

	margin-right: 10px;
}

.aboutGllacy img {
	height: 49px;

	align-self: flex-start; 

	margin-right: 10px;

}

.gradus {
	padding-bottom: 17px;
}

/* News container */

.news-container {
	padding-right: 27px;
	padding-left: 27px;

	display: flex;
	justify-content: space-between;

	margin-top: 40px;
	margin-bottom: 40px;
}

.news1, .news2 {
	min-height: 220px;
	width: 560px;
	
	border-radius: 20px;

	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	color: black;

	padding-left: 20px;
	padding-top: 25px;
}

.news1 {
	background-image: url("img/news1.png");
}

.news1 p {
	margin: 0;
	margin-bottom: 10px;

	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
}

.news1 h2 {
	margin: 0;

	font-size: 24px;
	line-height: 30px;
	text-decoration: underline;

	max-width: 290px;
}

.news2 {
	background-image: url("img/news2.png");

	padding-right: 30px;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.news2 p {
	margin: 0;
	padding-top: 10px;

	font-size: 16px;
	line-height: 22px;
	font-weight: 500;

}

.news2 input {
	height: 45px;
	width: 370px;

	padding-left: 10px;

	font-family: inherit;
}

.news2 button {
	height: 45px;
	width: 125px;

	border: none;
	border-radius: 50px;

	background-color: #f26843;

	font-family: inherit;
	color: white;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

/* Map */

.map {
	min-height: 430px;

	background-image: url("img/map.png");

	padding-right: 27px;

	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.map form {
	width: 303px;
	min-height: 305px;

	border-radius: 20px;

	background-color: white;

	padding-left: 25px; 
	padding-top: 35px;
	padding-right: 26px;
}

.map form p {
	color: black;

	font-size: 14px;
	line-height: 20px;
	font-weight: 400;

	margin: 0;
	margin-bottom: 3px;
}

.map form p span {
	color: black;

	font-size: 18px;
	line-height: 24px;
	font-weight: 700;

	margin: 0;
}

.map .map2 {
	margin-bottom: 20px;
}

.map button {
	border-radius: 50px;
	border: 0;
	
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: white;

	background-color: #ef6541;

	width: 245px;
	height: 45px;

	margin-top: 20px;
}

/* ПОдвал */

.footer {
	height: 105px;
	padding-right: 27px;
	padding-left: 27px;

	display: flex;
}

.footer-left {
	flex-basis: 267px;
	display: flex;
	align-items: center;
	height: 100%
}	

.footer-left img {
	margin-right: 10px;
}	

.footer-center {
	flex-basis: 586px;
	display: flex;
	align-items: center;
	height: 100%;
	justify-content: space-between;

	font-size: 13px;
	font-weight: 400;
	text-decoration: underline;
}

.footer-right {
	display: flex;
	justify-content: center;
	flex-basis: 267px;
}